<header class="header">
    <section class="header-board">
        <h1>2048 Game</h1>
        <ul>
            <li class="board-title">SCORE</li>
            <li class="board-text" id="score">0</li>
        </ul>
        <ul>
            <li class="board-title">BEST</li>
            <li class="board-text" id="best">0</li>
        </ul>
    </section>
    <section class="header-control">
        <h2>Join numbers to get to the <b>2048 tile</b>!</h3>
        <button id="restart">New Game</button>
    </section>
</header>